.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-info-container {
    display: flex;
    max-width: 500px;
    gap: 30px;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.align {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.test{
    width: 700px;
}