.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.section:nth-child(4){
    background-color: #f7f5f1;
    margin-top: 25px;
    padding-top: 50px;
}

.main-info-container {
    display: flex;
    width: 600px;
    gap: 150px;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.align {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.carousel{
    width: 850px;
    margin-top: 50px;
}

.accordion{
    background-color: #f7f5f1;
}

.important-info{
    background-color: white;
    display: flex;
    gap: 30px;
    padding: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.info-left {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.info-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.important{
    color: red;
}

.additional-info-container{
    display: flex;
    gap: 100px;
    width: 750px;
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    font-size: 18px;
}

.ul-container{
    display: flex;
    width: 750px;
    gap: 200px;
}

.list{
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 25px 0;
}

.bold{
    font-weight: bold;
}

.list > li {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 18px;
}

.check-icon{
    color: green;
}

.border-top{
    border-top: 1px solid #e6e6e6;
    margin-top: 50px;
}
