.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}

.left-section {
    padding-left: 20px;
}

.right-section {
    display: flex;
    gap: 5px;
    padding-left: 20px;
}

/* .logo {
    width: 200px;
    height: 200px;
    margin-left: 135px;
} */