.navigation {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0px 35px; 
}

.left-section{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo{
    height: 100px;
    width: 100px;
    cursor: pointer;
}